<html>
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon brands alt fa-google"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-blogger"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">LinkedIn</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy;Copyright 2023 <a href="https://html5up.net">gusals6069</a>, All Rights Reserved.</li><li>Template Design: <a href="https://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
        <a href="#" class="icon solid alt fa-arrow-up topArrow"><span class="label">top</span></a>
    </footer>

    <script type="text/javascript" src="/script/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/script/jquery/jquery.scrolly.min.js"></script>
    <script type="text/javascript" src="/script/jquery/jquery.scrollex.min.js"></script>
    <script type="text/javascript" src="/script/jquery/jquery.util.js"></script>
    <script type="text/javascript" src="/script/browser/browser.min.js"></script>
    <script type="text/javascript" src="/script/breakpoints/breakpoints.min.js"></script>

    <script type="text/javascript" src="/script/common/comm.js"></script>
    <script type="text/javascript" src="/script/post/post.js"></script>
    <script type="text/javascript" src="/script/user/user.js"></script>
    <script type="text/javascript" src="/script/util/text.js"></script>

    <!-- Modal JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script/util/modal.js"></script>

    <!-- Email JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script/util/mail.js"></script>
</html>