<html>
    <head>
        <title>SpringBoot WebService</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- favicon setting -->
        <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
        <!-- SweetAlert CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" />
        <link rel="stylesheet" href="/css/modal.css" />
        <!-- Common CSS -->
        <link rel="stylesheet" href="/css/index.css?v=4" />
        <noscript>
            <link rel="stylesheet" href="/css/noscript.css" />
        </noscript>
    </head>
</html>

