<html>
    <header id="header" class="alt">
        <a href="/" class="logo"><strong>BOARD</strong> <span>FULLY RESPONSIVE</span></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <nav id="menu">
        <ul class="links">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/ability">ABILITY</a></li>
            <li><a href="/board/list">BOARD</a></li>
        </ul>

        <ul class="actions stacked">
            {{#user}}
                <li><a href="/user/logout" class="button primary fit">LOGOUT</a></li>
            {{/user}}
            {{^user}}
                <li><a href="/user/login" class="button primary fit">LOGIN</a></li>
            {{/user}}
        </ul>
    </nav>
</html>