<!--https://yoohyeok.github.io/u-it/-->
<!--https://weaklion.github.io/React-PortFolio/-->
<!--https://shields.io/docs/logos#shields-logos-->
<!--https://simpleicons.org/?q=html-->
<!-- 교육이수현황 최종학력 자격증현황 기술스택 안내-->

<!DOCTYPE HTML>
<html>
    {{>import/header}}
    <body class="is-preload">
        <div id="wrapper">
            {{>import/menu}}
            <section id="banner" class="style2">
                <div class="inner">
                    <span class="image">
                        <img src="/webimage/about/head.jpg" alt="INTRODUCE" />
                    </span>
                    <header class="major">
                        <h1>ABILITY</h1>
                    </header>
                    <div class="content">
                        <p>
                            <span>You can check my web development skills</span>
                        </p>
                    </div>
                </div>
            </section>
            <div id="main" class="alt">
                <section>
                    <div class="inner">
                        <h4>SKILLS</h4>
                        <div>
                            <img src="https://img.shields.io/badge/Html-8A4182?style=flat-square&amp;logo=Html5&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/CSS-1572B6?style=flat-square&amp;logo=CSS3&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/SASS-CC6699?style=flat-square&amp;logo=Sass&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/BootStrap-7952B3?style=flat-square&amp;logo=BootStrap&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/JavaScript-FF8800?style=flat-square&amp;logo=JavaScript&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/JQuery-0769AD?style=flat-square&amp;logo=jQuery&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Java-007396?style=flat-square&amp;logo=coffeescript&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Spring_Framework-6DB33F?style=flat-square&amp;logo=Spring&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/SpringBoot-5BA745?style=flat-square&amp;logo=SpringBoot&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Spring_MVC-06AC38?style=flat-square&amp;logo=Spring&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Spring_Data_JPA-6DB33F?style=flat-square&amp;logo=Spring&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Spring_Security-578B34?style=flat-square&amp;logo=Spring Security&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/JWT-000000?style=flat-square&amp;logo=JSON Web Tokens&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/JUnit5-F45E3F?style=flat-square&amp;logo=JUnit5&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Maven-80247B?style=flat-square&amp;logo=ApacheMaven&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Gradle-02303A?style=flat-square&amp;logo=Gradle&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Oracle-F80000?style=flat-square&amp;logo=Oracle&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/MySQL-4479A1?style=flat-square&amp;logo=MySQL&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Git-F05032?style=flat-square&amp;logo=Git&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/SVN-809CC9?style=flat-square&amp;logo=Subversion&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Thymeleaf-005F0F?style=flat-square&amp;logo=Thymeleaf&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Mustache-000000?style=flat-square&amp;logo=handlebarsdotjs&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Jsp-A493E7?style=flat-square&amp;logo=powerpages&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Resin-3CBDB1?style=flat-square&amp;logo=serverfault&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Webtob-1D439C?style=flat-square&amp;logo=serverfault&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Jeus-768CFF?style=flat-square&amp;logo=serverfault&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Apache_mina-F44A6A?style=flat-square&amp;logo=apmterminals&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Apache_tomcat-F38020?style=flat-square&amp;logo=apachetomcat&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Apache-D22128?style=flat-square&amp;logo=apache&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Linux-FCC624?style=flat-square&amp;logo=linux&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Centos-262577?style=flat-square&amp;logo=centos&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Eclipse-2C2255?style=flat-square&amp;logo=eclipseide&amp;logoColor=white" style="zoom:150%;">
                            <img src="https://img.shields.io/badge/Intellij-000000?style=flat-square&amp;logo=Intellijidea&amp;logoColor=white" style="zoom:150%;">
                        </div><hr/>
                        <h4>CERTIFICATE</h4>
                        <p>내용</p>
                        <hr/>
                        <h4>CURRICULUM</h4>
                        <p>내용</p>
                    </div>
                </section>
            </div>
            {{>import/footer}}
        </div>
    </body>
</html>