<!DOCTYPE HTML>
<html>
    {{>import/header}}
    <body class="is-preload">
        <div id="wrapper">
            {{>import/menu}}
            <section id="banner" class="style2">
                <div class="inner">
                    <span class="image">
                        <img src="/webimage/about/head.jpg" alt="INTRODUCE" />
                    </span>
                    <header class="major">
                        <h1>INTRODUCE</h1>
                    </header>
                    <div class="content">
                        <p>
                            <span>Let me Introduce myself and my Career</span>
                            <span>and also You can check my project</span>
                        </p>
                    </div>
                </div>
            </section>
            <div id="main" class="alt">
                <section id="one">
                    <div class="inner">
                        <header class="major">
                            <h2>About Me</h2>
                        </header>
                        <div class="row gtr-200">
                            <div class="col-4 col-12-medium">
                                <span class="image fit">
                                    <img src="/webimage/profile/profile01.png" alt="profile" />
                                </span>
                            </div>
                            <div class="col-8 col-12-medium">
                                <p style="font-size:0.9em;">
                                    Hello I'm Hyeonmin An.<br/>
                                    I am a senior Java developer with more than 8 years of web development experience.
                                    I am investing my time and resources in perfecting the development process and web applications.
                                    I always study hard to improve my development ability, and I try to gain a lot of experience.
                                    Of course, it will continue to be the case
                                </p>
                                <h3>Work Experience</h3>
                                <div class="col-12 col-12-small">
                                    <ul style="font-size:0.85em;">
                                        <li>2019.04 ~  || 화물복지재단 정보시스템 개발 및 유지보수 PL참여 || <a href="http://www.trionsoft.com/" target="_blank">@trionsoft</a></li>
                                        <li>2019.04 ~  || 화물공제조합 카드결제시스템 개발 및 유지보수 PL참여 || <a href="http://www.trionsoft.com/" target="_blank">@trionsoft</a></li>
                                        <li>2019.04 ~ 2021.12 || 수협 부경대 연구비카드 관리시스템 유지보수 PL참여 || <a href="http://www.trionsoft.com/" target="_blank">@trionsoft</a></li>
                                        <li>2017.07 ~ 2018.10 || 자사 소셜매트릭스 시스템 개발 및 유지보수 PL참여 || <a href="https://www.vaiv.kr/" target="_blank">@daumsoft</a></li>
                                        <li>2016.07 ~ 2017.05 || 경기도 인재개발원 홈페이지 및 LMS 2차 통합개편 팀원참여 || <a href="https://www.nexgens.com/" target="_blank">@nexgen</a></li>
                                        <li>2015.09 ~ 2016.02 || 진천시 법무연수원 홈페이지 및 LMS 2차 통합개편 팀원참여 || <a href="https://www.nexgens.com/" target="_blank">@nexgen</a></li>
                                        <li>2015.05 ~ 2015.08 || 서울시 선거연수원 홈페이지 및 LMS 2차 통합개편 팀원참여 || <a href="https://www.nexgens.com/" target="_blank">@nexgen</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="two" class="spotlights">
                    <section class="project">
                        <a href="https://www.civicedu.go.kr/" target="_blank" class="image">
                            <img src="/webimage/about/tile01.jpg" class="odd" alt="선거연수원" data-position="top center"/>
                        </a>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>서울시 선거연수원</h3>
                                </header>
                                <p>
                                    <ul style="font-size:0.85em;">
                                        <li>소속회사 : 넥스젠 어쏘시에이트</li>
                                        <li>주요업무 : 서울시 선거연수원 홈페이지 및 LMS 2차 통합개편</li>
                                        <li>담당역할 : 프로젝트 개발팀원</li>
                                        <li>업무기간 : 2015.05 ~ 2015.08</li>
                                        <li>개발도구 : JAVA, STRUTS, JSP, JAVASCRIPT, CSS, ORACLE DB, LINUX, JEUS, WEBTOB, ECLIPSE</li>
                                        <li>개발내용 : LMS 신규페이지 개발 및 유지보수, 커뮤니티기능 추가, 통합검색 구현, 파일 업로드기능 개발 및 통계기능 개발 등</li>
                                    </ul>
                                </p>
                                <ul class="actions">
                                    <li><a href="https://www.civicedu.go.kr/" target="_blank" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="project">
                        <a href="https://cyber.ioj.go.kr/" target="_blank" class="image">
                            <img src="/webimage/about/tile02.jpg" class="even" alt="법무연수원" data-position="top center"/>
                        </a>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>진천시 법무연수원</h3>
                                </header>
                                <p>
                                    <ul style="font-size:0.85em;">
                                        <li>소속회사 : 넥스젠 어쏘시에이트</li>
                                        <li>주요업무 : 진천시 법무연수원 홈페이지 및 LMS 2차 통합개편</li>
                                        <li>담당역할 : 프로젝트 개발팀원</li>
                                        <li>업무기간 : 2015.09 ~ 2016.02</li>
                                        <li>개발도구 : JAVA, STRUTS, JSP, JAVASCRIPT, CSS, ORACLE DB, LINUX, JEUS, WEBTOB, ECLIPSE</li>
                                        <li>개발내용 : LMS 신규페이지 개발 및 유지보수, 관리자화면 학습데이터 통계 대시보드 개발, 통계 프로시저 개발 및 기존쿼리 속도개선</li>
                                    </ul>
                                </p>
                                <ul class="actions">
                                    <li><a href="https://cyber.ioj.go.kr/" target="_blank" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="project">
                        <a href="https://edu.gg.go.kr/" target="_blank" class="image">
                            <img src="/webimage/about/tile03.jpg" class="odd" alt="인재개발원" data-position="top center"/>
                        </a>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>경기도 인재개발원</h3>
                                </header>
                                <p>
                                    <ul style="font-size:0.85em;">
                                        <li>소속회사 : 넥스젠 어쏘시에이트</li>
                                        <li>주요업무 : 경기도 인재개발원 홈페이지 및 LMS 2차 통합개편</li>
                                        <li>담당역할 : 프로젝트 개발팀원</li>
                                        <li>업무기간 : 2016.07 ~ 2017.05</li>
                                        <li>개발도구 : JAVA, SPRING, JSP, JAVASCRIPT, CSS, ORACLE DB, LINUX, JEUS, WEBTOB, ECLIPSE</li>
                                        <li>개발내용 : LMS 신규페이지 개발 및 유지보수, 이메일 템플릿 기능 및 이메일 발송기능 구현, 모바일 시설예약기능 구현, 비콘을 사용한 전자출결 기능구현 및 기존쿼리 속도개선</li>
                                    </ul>
                                </p>
                                <ul class="actions">
                                    <li><a href="https://edu.gg.go.kr/" target="_blank" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="project">
                        <a href="https://some.co.kr/" target="_blank" class="image">
                            <img src="/webimage/about/tile04.jpg" class="even" alt="선거연수원" data-position="top center"/>
                        </a>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>바이브컴퍼니</h3>
                                </header>
                                <p>
                                    <ul style="font-size:0.85em;">
                                        <li>소속회사 : 바이브컴퍼니 (구 다음소프트)</li>
                                        <li>주요업무 : 바이브컴퍼니 소셜매트릭스 시스템 개발 및 유지보수</li>
                                        <li>담당역할 : 프로젝트 PL</li>
                                        <li>업무기간 : 2017.07 ~ 2018.10</li>
                                        <li>개발도구 : JAVA, PYTHON, SPRING, JSP, JAVASCRIPT, CSS, ORACLE DB, MYSQL DB, LINUX, JEUS, WEBTOB, ECLIPSE</li>
                                        <li>개발내용 : 소셜 매트릭스 신규기능 개발 및 유지보수, JSON 파싱데이터로 실시간 연관어 및 추이 그래프 D3로 구현, 크론탭과 텔레그램 봇을 이용한 데이터 수집기능 및 모니터링 기능개발</li>
                                    </ul>
                                </p>
                                <ul class="actions">
                                    <li><a href="https://some.co.kr/" target="_blank" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="project">
                        <a href="http://rnd.suhyup.co.kr/" target="_blank" class="image">
                            <img src="/webimage/about/tile05.jpg" class="odd" alt="연구비관리" data-position="top center"/>
                        </a>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>수협</h3>
                                </header>
                                <p>
                                    <ul style="font-size:0.85em;">
                                        <li>소속회사 : 트라이언소프트</li>
                                        <li>주요업무 : 수협 부경대 연구비카드 관리시스템 유지보수</li>
                                        <li>담당역할 : 프로젝트 PM</li>
                                        <li>업무기간 : 2019.04 ~ 2021.12 (협약종료)</li>
                                        <li>개발도구 : JAVA, SPRING, JSP, JAVASCRIPT, CSS, ORACLE DB, LINUX, TOMCAT, APACHE WEBSERVER, ECLIPSE</li>
                                        <li>개발내용 : 홈페이지 신규기능 개발 및 유지보수, 아파치 웹서버 개선, 카드정보전문 송수신 전문개발 및 배포</li>
                                    </ul>
                                </p>
                                <ul class="actions">
                                    <li><a href="http://rnd.suhyup.co.kr/" target="_blank" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="project">
                        <a href="https://www.truck.or.kr/" target="_blank" class="image">
                            <img src="/webimage/about/tile06.jpg" class="even" alt="화물공제조합" data-position="top center"/>
                        </a>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>화물공제조합</h3>
                                </header>
                                <p>
                                    <ul style="font-size:0.85em;">
                                        <li>소속회사 : 트라이언소프트</li>
                                        <li>주요업무 : 화물공제조합 카드결제시스템 개발 및 유지보수</li>
                                        <li>담당역할 : 프로젝트 PM</li>
                                        <li>업무기간 : 2019.04 ~ 현재 진행</li>
                                        <li>개발도구 : JAVA, SPRING, JSP, JAVASCRIPT, CSS, ORACLE DB, MYSQL DB, UNIX, APACHE MINA, REPORT TOOL, ECLIPSE</li>
                                        <li>개발내용 : 홈페이지 신규기능 개발 및 유지보수, 인터페이스 서버 이중화, 카드결제전문 송수신 관리 및 배포, 카드 결제/매입/입금 프로세스 개발 및 유지보수</li>
                                    </ul>
                                </p>
                                <ul class="actions">
                                    <li><a href="https://www.truck.or.kr/" target="_blank" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="project">
                        <a href="https://www.fordrivers.or.kr/" target="_blank" class="image">
                            <img src="/webimage/about/tile07.jpg" class="odd" alt="화물복지재단" data-position="top center"/>
                        </a>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>화물복지재단</h3>
                                </header>
                                <p>
                                    <ul style="font-size:0.85em;">
                                        <li>소속회사 : 트라이언소프트</li>
                                        <li>주요업무 : 화물복지재단 정보시스템 개발 및 유지보수</li>
                                        <li>담당역할 : 프로젝트 PM</li>
                                        <li>업무기간 : 2019.04 ~ 현재 진행</li>
                                        <li>개발도구 : JAVA, SPRING, JSP, JAVASCRIPT, CSS, ORACLE DB, LINUX, REPORT TOOL, ECLIPSE</li>
                                        <li>개발내용 : 홈페이지 신규기능 개발 및 유지보수, WAS/WEB서버 이중화, 오라클 데이터베이스 업그레이드, 화물복지사업 진행 및 선발부문 총괄관리, 오라클 프로시저 개발 및 배포, 사업설문기능 개발, 선발통계 관리</li>
                                    </ul>
                                </p>
                                <ul class="actions">
                                    <li><a href="https://www.fordrivers.or.kr/" target="_blank" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </section>
                <section id="three">
                    <div class="inner">
                        <header class="major">
                            <h2>Introduce</h2>
                        </header>
                        <p>
                            <h3 style="margin:0 0 0.5em 0;">성장과정</h3>
                            <span style="font-size:0.75em;">
                                제 인생의 수레를 굴리는 원동력은 "노력과 그에 따른 결실" 입니다.
                                원하는 게 있으면 꾸준히 노력을 하고, 그에 따른 결실을 받습니다.
                                대학교에 다니고 있을 때, 저는 자바개발과 관계없는 통계학과였고 성적이 많이 좋지는 않았습니다만,
                                어느날 자바개발 수업을 들었는데 개발에 대해 흥미가 생겼습니다.
                                그 후 개발언어를 공부할 수 있은 연구실이 있다는 걸 들어서 해당 연구실에 소속되기 위해 공부도 열심히하였고,
                                과내 행사에도 꾸준히 참석하는 등 성실한 모습을 보였습니다. 그 결과 해당 연구실에서 연구원으로 소속되어, 일을 할 수 있게 되었고,
                                그곳에서 자바 프로그래밍과 엑셀과 파워포인트를 배울 수 있게 되었고, 이는 지금의 제 업무에 많은 도움이 되었습니다.
                            </span><hr/>
                            <h3 style="margin:0.5em 0 0.5em 0;">성격의 장단점</h3>
                            <span style="font-size:0.75em;">
                                논어에 세 명의 사람이 길을 가면 그 중에 스승이 될 사람이 한 명 있다는 말이 있습니다.
                                나이가 많든 적든 그 어떤 사람에게도 한 가지 이상의배울 점은 있다는 생각으로 겸손하게 살아가고 있습니다.
                                저는 저의 모자란 부분(실력, 사회경험 등등)을 상대방을 통해 채워나가며 항상 발전적인 삶을 살려고 합니다.
                                다만 성격이 많이 조용하고 내향적이라 사람들과 잘 어울리지 못합니다만, 같이 일을 하는 사람들과 친해지려 노력을 하고 있습니다.
                                하지만 내향적이라고 나쁜 점만 있는 것이 아닙니다.
                                어떤 상황에서도 경솔하게 말을 하거나 행동하지 않고 신중하게 행동할 수 있어서 좋다고 생각합니다.
                                이런 점은 저의 사회생활에 도움이 많이 되었습니다.
                            </span><hr/>
                            <h3 style="margin:0.5em 0 0.5em 0;">향후계획</h3>
                            <span style="font-size:0.75em;">
                                지금까지 SI,SM 사업에 모두 참여를 하면서, 많은 것을 구현해보고 많은 오류를 겪었습니다.
                                많은 오류를 겪으면서, 저에게 미숙한 점이 많다고 느끼면서도, 다시는 이런 오류를 일으키지 않겠다고 생각하며 열심히 공부하고 있습니다.
                                유능한 개발자로 성장하기 위해서 LMS 홈페이지에서 강의를 보거나, 교육기관에서 교육을 받거나,
                                개발자 커뮤니티에서 선배님들께 어려운 점을 여쭈거나 하거나 교육기관 집체교육에 참석하여, 강의를 듣는 등 배움을 게을리 하지 않고 있습니다.
                                최근에는 스프링부트, AWS를 공부하고 있습니다. 시작한 지는 얼마되지 않았지만 제 나름대로 열심히 하고 있습니다.
                                현재의 제 자신이 많이 미숙하고 모자랄지도 모르지만, 지금의 제가 할 수 있는 것을 어떻게든 해내려고 노력하고 있습니다.
                                저는 이 일을 좋아하고 오래하고 싶기 때문에, 저의 개발경험을 늘리고 싶고 그러기에 많은 업무를 해보고 싶다고 생각합니다.
                            </span>
                        </p>
                    </div>
                </section>
            </div>
            {{>import/footer}}
        </div>
    </body>
</html>