<!DOCTYPE HTML>
<html>
    {{>import/header}}
    <body class="is-preload">
        <div id="wrapper">
            {{>import/menu}}
            <section id="banner" class="major">
                <div class="inner">
                    <header class="major">
                        <h1>Hey, I'm Hyeonmin</h1>
                    </header>
                    <div class="content">
                        <p>
                            <span>You can check my introduction and my Career.</span><br/>
                            <span>and also You can use Springboot BoardService I developed.</span>
                        </p>
                        <ul class="actions">
                            <li><a href="#one" class="button next scrolly">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <div id="main">
                <section id="one" class="tiles">
                    <article>
                        <span class="image">
                            <img src="/webimage/main/tile01.jpg" alt="INTRODUCE" />
                        </span>
                        <header class="major">
                            <h3><a href="/about" class="link">INTRODUCE</a></h3>
                            <p>I started developing backend in 2015.</p>
                        </header>
                    </article>
                    <article>
                        <span class="image">
                            <img src="/webimage/main/tile02.jpg" alt="SKILLS" />
                        </span>
                        <header class="major">
                            <h3><a href="/about" class="link">SKILLS</a></h3>
                            <p>I have a lot of develop skills.</p>
                        </header>
                    </article>
                    <article>
                        <span class="image">
                            <img src="/webimage/main/tile03.jpg" alt="CAREER" />
                        </span>
                        <header class="major">
                            <h3><a href="/career" class="link">CAREER</a></h3>
                            <p>I have participated in various development projects.</p>
                        </header>
                    </article>
                    <article>
                        <span class="image">
                            <img src="/webimage/main/tile04.jpg" alt="BOARD" />
                        </span>
                        <header class="major">
                            <h3><a href="/board/list" class="link">BOARD</a></h3>
                            <p>It is a board service produced using Restful API.</p>
                        </header>
                    </article>
                </section>
                <section id="two">
                    <div class="inner">
                        <header class="major">
                            <h2>About Me</h2>
                        </header>
                        <!-- https://gabrijelskoro.com/  이 친구처럼 나도 표시해야할까 -->
                        <p><strong>Please click on the button to see my introduction and career in detail.</strong></p>
                        <ul class="actions">
                            <li><a href="/about" class="button next scrolly">More</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            {{>import/mail}}
            {{>import/footer}}
        </div>
    </body>
</html>