{{>layout/header}}
{{>layout/menu}}

<!-- 소셜로그인기능 네이버/카카오 추가 https://iseunghan.tistory.com/300 -->

<body>
    <div class="container" style="flex:1;">
        <h2 class="sub-title">게시글 조회</h2>
        <div class="col-md-12" style="margin-top:20px;">
            <div class="col-md-12">
                <form>
                    <input type="hidden" id="id" value="{{post.id}}" />
                    <div class="form-group">
                        <label for="category" class="form-label">분류</label>
                        <input type="text" class="form-control" id="title" value="{{post.category}}" aria-readonly="true" readonly />
                    </div>
                    <div class="form-group">
                        <label for="title">제목</label>W
                        <input type="text" class="form-control" id="title" value="{{post.title}}" aria-readonly="true" readonly />
                    </div>
                    <div class="form-group">
                        <label for="author">작성자</label>
                        <input type="text" class="form-control" id="author" value="{{post.author}}" aria-readonly="true" readonly />
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea class="form-control" id="content" aria-readonly="true" readonly>{{post.content}}</textarea>
                    </div>
                </form>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-md-12" style="text-align:center;">
                    <a href="javascript:;" role="button" class="btn btn-secondary" id="btn-list-page" data-target="">목록</a>
                    {{#isAuthor}}
                        <a href="javascript:;" role="button" class="btn btn-primary" id="btn-update-page" data-target="{{post.id}}">수정</a>
                        <a href="javascript:;" role="button" class="btn btn-danger" id="btn-delete">삭제</a>
                    {{/isAuthor}}
                </div>
            </div>
        </div>
    </div>
</body>

{{>layout/footer}}