<!DOCTYPE HTML>
<html>
    {{>import/header}}
    <body class="is-preload">
        <div id="wrapper">
            {{>import/menu}}
            <section id="banner" class="style2">
                <div class="inner">
                    <span class="image">
                        <img src="/webimage/about/head.jpg" alt="INTRODUCE" />
                    </span>
                    <header class="major">
                        <h1>My Board</h1>
                    </header>
                    <div class="content">
                        <p>
                            <span>Bulletin webpage board is the basis and essence of web development</span>
                        </p>
                    </div>
                </div>
            </section>
            <div id="main" class="alt">
                <section id="board">
                    <div class="inner">
                        <section>
                            <div class="contact-method">
                                <span class="icon solid alt fa-list"></span>
                                <h3>List</h3>
                            </div>
                            <div class="col-6 col-12-medium">
                                <div class="table-wrapper">
                                    <table class="alt">
                                        <colgroup>
                                            <col width="15%"/>
                                            <col width="50%"/>
                                            <col width="15%"/>
                                            <col width="20%"/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">Category</th>
                                                <th style="text-align:center;">Title</th>
                                                <th style="text-align:center;">Writer</th>
                                                <th style="text-align:center;">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#posts}}
                                                <tr class="data" onclick="post.view('{{id}}')">
                                                    <td style="text-align:center;">{{category}}</td>
                                                    <td style="text-align:center;">{{title}}</td>
                                                    <td style="text-align:center;">{{author}}</td>
                                                    <td style="text-align:center;">{{modifiedDate}}</td>
                                                </tr>
                                            {{/posts}}
                                            {{^posts}}
                                                <tr>
                                                    <td colspan="4" style="text-align:center;">등록된 게시물이 없습니다.</td>
                                                </tr>
                                            {{/posts}}
                                        </tbody>
                                    </table>
                                    {{>import/page}}
                                </div>
                            </div>

                            <form name="searchForm" id="searchForm">
                                <input type="hidden" name="pageNo" id="pageNo" value="{{curr}}" />

                                <table class="search" style="border-collapse:unset;">
                                    <colgroup>
                                        <col width="20%"/>
                                        <col width="80%"/>
                                        <col width="10%"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <td>
                                                <select name="searchType" id="searchType">
                                                    <option value="">-Choose-</option>
                                                    {{#types}}
                                                        <option value="{{type}}" {{#curr}} selected {{/curr}}>{{type}}</option>
                                                    {{/types}}
                                                </select>
                                            </td>
                                        <td>
                                            {{#searchKeyword}}
                                                <input type="text" name="searchKeyword" id="searchKeyword" value="{{searchKeyword}}"></td>
                                            {{/searchKeyword}}
                                            {{^searchKeyword}}
                                                <input type="text" name="searchKeyword" id="searchKeyword" value=""></td>
                                            {{/searchKeyword}}
                                            <td> <a href="javascript:;" id="btn-search" class="button">Search</a></td>
                                        </tr>
                                    </thead>
                                </table>
                            </form>

                            <ul class="actions right">
                                <li><a href="javascript:;" id="btn-save-page" class="button primary">Write</a></li>
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
            <script type="text/javascript">
                window.addEventListener('DOMContentLoaded', function(){
                    location.hash = "#board";
                });
            </script>
            {{>import/mail}}
            {{>import/footer}}
        </div>
    </body>
</html>